:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  padding: 0 20px;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

p {
  margin: 0;
}
